.container-pendu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    position: relative;
    min-height: 20vh;
    width: 50%;
    background-color: white;
    border: 2px solid black;
}

.pendu-1 {
    position: absolute;
    bottom: 5px;
    left: 7px;
    transform: translateX(-50%);
    width: 5px;
    height: 120px;
    background-color: black;
}

.pendu-2 {
    position: absolute;
    top: 9px;
    left: 5px;
    width: 90px;
    height: 5px;
    background-color: black;
}

.pendu-3 {
    position: absolute;
    top: 9px;
    left: 95px;
    width: 5px;
    height: 40px;
    background-color: black;
}

.pendu-4 {
    position: absolute;
    top: 49px;
    left: 88px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.pendu-5 {
    position: absolute;
    top: 69px;
    left: 95px;
    width: 5px;
    height: 25px;
    background-color: black;
}

.pendu-6 {
    position: absolute;
    top: 69px;
    left: 86px;
    width: 5px;
    transform: rotate(50deg);
    height: 25px;
    background-color: black;
}

.pendu-7 {
    position: absolute;
    top: 69px;
    left: 105px;
    width: 5px;
    transform: rotate(-50deg);
    height: 25px;
    background-color: black;
}

.pendu-8 {
    position: absolute;
    top: 90px;
    left: 90px;
    width: 5px;
    transform: rotate(25deg);
    height: 25px;
    background-color: black;
}

.pendu-9 {
    position: absolute;
    top: 90px;
    left: 100px;
    width: 5px;
    transform: rotate(-25deg);
    height: 25px;
    background-color: black;
}
